{% extends 'base.html' %} {% from 'macros/_form.html' import inputText, inputSelect, formButtons %} {% block content %}
<div class="flex flex-col gap-4 flex-1">
  <h1 class="text-2xl font-bold">{{ titulo }}</h1>
  <form action="{{ action }}" method="POST" class="flex flex-col gap-4 flex-1">
    <input type="hidden" id="iddespesa" name="iddespesa" value="{{ despesa.iddespesa if despesa else '' }}" />
    {{ inputText(despesa.descricao if despesa, 'Descrição', 'Digite a descrição do serviço', 'descricao') }}
    <!--  -->
    {{ inputText(despesa.data_servico if despesa, 'Data do Serviço', 'Digite a data do serviço', 'data_servico', 'date') }}
    <!--  -->
    {{ inputText(despesa.valor if despesa, 'Valor', 'Digite o valor', 'valor', 'number', '0.01') }}
    <!--  -->
    {{ inputSelect(veiculos, despesa.idplaca if despesa else '', 'Placa do Veículo', 'idplaca', 'Selecione a placa', 'idplaca') }}
    <!--  -->
    {{ inputSelect(prestadores, despesa.idprestador if despesa else '', 'Prestador', 'idprestador', 'Selecione o prestador', 'nome_empresa') }}
    <!--  -->
    {{ formButtons() }}
  </form>
</div>
<script>
  document.querySelector("form").addEventListener("submit", function (event) {
    const inputs = document.querySelectorAll('input[type="text"], select');
    let isValid = true;

    inputs.forEach((input) => {
      if (input.value.trim() === "") {
        isValid = false;
        input.classList.add("border-red-500");
        input.classList.remove("border-gray-300");
      } else {
        input.classList.remove("border-red-500");
        input.classList.add("border-gray-300");
      }
    });

    if (!isValid) {
      event.preventDefault();
      alert("Por favor, preencha todos os campos corretamente.");
    }
  });
</script>
{% endblock %}
