{% extends 'list.html' %}{% from 'macros/_table.html' import tableHeader, tableRow, actionButtons, tableFooter %}
<!--  Table Header  -->
{% block TH %}
<!--  -->
{{ tableHeader(['Cliente', 'Data da Aquisição', 'Placa do Veículo', 'Valor']) }}
<!--  -->
{% endblock %}
<!--  Table Row  -->
{% block TR %}
<!--  -->
{% for item in array %}
<!--  -->
{{ tableRow(item.idcompra, [item.nome, item.data, item.idplaca, 'R$ ' ~ item.formatted_valor_pago], actionButtons( url_for('compras.edit', idcompra=item.idcompra), url_for('compras.delete', idcompra=item.idcompra) ) ) }}
<!--  -->
{% endfor %}
<!--  -->
{% endblock %}
