{% extends 'list.html' %}{% from 'macros/_table.html' import tableHeader, tableRow, actionButtons, tableFooter %}
<!--  Table Header  -->
{% block TH %}
<!--  -->
{{ tableHeader(['Cliente', 'Data da Aquisição', 'Placa do Veículo', 'Valor']) }}
<!--  -->
{% endblock %}
<!--  Table Row  -->
{% block TR %}
<!--  -->
{% for item in array %}
<!--  -->
{{ tableRow(item.idcompra, [item.nome, item.data, item.idplaca, item.valor], actionButtons( url_for('servicos.edit', iddespesa=item.iddespesa), url_for('servicos.delete', iddespesa=item.iddespesa) ) ) }}
<!--  -->
{% endfor %}
<!--  -->
{% endblock %}
