{% extends 'base.html' %} {% from 'macros/_form.html' import inputText, inputSelect, formButtons %} {% block content %}
<div class="flex flex-col gap-4 flex-1">
  <h1 class="text-2xl font-bold">{{ titulo }}</h1>
  <form action="{{ action }}" method="POST" class="flex flex-col gap-4 flex-1">
    <input type="hidden" id="idplaca" name="idplaca" value="{{ veiculo.idplaca if veiculo else '' }}" />

    {{ inputText(veiculo.idplaca if veiculo, 'Placa', 'Digite a placa do veiculo', 'idplaca') }}
    <!--  -->
    <div class="flex gap-4 *:flex-1">
      {{ inputText(veiculo.ano if veiculo, 'Ano', 'Digite o ano do veiculo', 'ano') }}
      <!--  -->
      {{ inputText(veiculo.modelo if veiculo, 'Modelo', 'Digite o modelo do veiculo', 'modelo') }}
    </div>
    {{ inputText(veiculo.cor if veiculo, 'Cor', 'Digite a cor do veiculo', 'cor') }}
    <div class="flex gap-4 *:flex-1">
      {{ inputText(veiculo.fabricante if veiculo, 'Fabricante', 'Digite o fabricante do veiculo', 'fabricante') }}
      <!--  -->
      {{ inputText(veiculo.modelo_veiculo if veiculo, 'Modelo Veículo', 'Digite o modelo do veículo', 'modelo_veiculo') }}
    </div>
    <div class="flex gap-4 *:flex-1">
      {{ inputText(veiculo.preco_fipe if veiculo, 'Preço FIPE', 'Digite o preço FIPE do veiculo', 'preco_fipe', 'number', '0.01') }}
      <!--  -->
      {{ inputText(veiculo.preco_venda if veiculo, 'Preço Venda', 'Digite o preço de venda do veiculo', 'preco_venda', 'number', '0.01') }}
      <!--  -->
      {{ inputText(veiculo.total_despesa if veiculo, 'Total Despesa', 'Digite o total de despesas do veiculo', 'total_despesa', 'number', '0.01') }}
    </div>

    {{ formButtons() }}
  </form>
</div>
<script>
  document.querySelector("form").addEventListener("submit", function (event) {
    const inputs = document.querySelectorAll('input[type="text"], select');
    let isValid = true;

    inputs.forEach((input) => {
      if (input.value.trim() === "") {
        isValid = false;
        input.classList.add("border-red-500");
        input.classList.remove("border-gray-300");
      } else {
        input.classList.remove("border-red-500");
        input.classList.add("border-gray-300");
      }
    });

    if (!isValid) {
      event.preventDefault();
      alert("Por favor, preencha todos os campos corretamente.");
    }
  });
</script>
{% endblock %}
