{% extends 'list.html' %}{% from 'macros/_table.html' import tableHeader, tableRow, actionButtons, tableFooter %}
<!--  Table Header  -->
{% block TH %}
<!--  -->
{{ tableHeader(['Placa', 'Ano/Modelo', 'Fabricante', 'Modelo Veículo', 'Cor', 'Preço FIPE', 'Preço Venda', 'Total Despesa']) }}
<!--  -->
{% endblock %}
<!--  Table Row  -->
{% block TR %}
<!--  -->
{% for item in array %} {{ tableRow(item.idplaca, [item.idplaca, item.ano ~ '/' ~ item.modelo, item.fabricante, item.modelo_veiculo, item.cor, 'R$ ' ~ item.formatted_fipe, 'R$ ' ~ item.formatted_venda, 'R$ ' ~ item.formatted_despesa], actionButtons( url_for('veiculos.edit', idplaca=item.idplaca), url_for('veiculos.delete', idplaca=item.idplaca), url_for('veiculos.details', idplaca=item.idplaca) ) ) }} {% endfor %}
<!--  -->
{% endblock %}
