{% extends 'list.html' %}{% from 'macros/_table.html' import tableHeader,
tableRow, actionButtons, tableFooter %}
<!--  Table Header  -->
{% block TH %}
<!--  -->
{{ tableHeader(['Nome', 'Endereço', 'CEP']) }}
<!--  -->
{% endblock %}
<!--  Table Row  -->
{% block TR %}
<!--  -->
{% for item in array %}
<!--  -->
{{ tableRow(item.idprestador, [item.nome_empresa, item.cidade ~ ' - ' ~ item.uf
, item.cep], actionButtons(url_for('prestadores.edit_prestador',
idprestador=item.idprestador) , url_for('prestadores.delete_prestador',
idprestador=item.idprestador)) ) }}

<!--  -->
{% endfor %}
<!--  -->
{% endblock %}
