{% extends 'list.html' %}{% from 'macros/_table.html' import tableHeader,
tableRow, actionButtons, tableFooter %}
<!--  Table Header  -->
{% block TH %}
<!--  -->
{{ tableHeader(['Nome', 'Endereço', 'CEP']) }}
<!--  -->
{% endblock %}
<!--  Table Row  -->
{% block TR %}
<!--  -->
{% for item in array %}
<!--  -->
{{ tableRow(item.idcliente, [item.nome, item.endereco ~ ', ' ~ item.cidade ~ ' -
' ~ item.uf , item.cep], actionButtons( url_for('clientes.edit_cliente',
idcliente=item.idcliente), url_for('clientes.delete_cliente',
idcliente=item.idcliente) ) ) }}
<!--  -->
{% endfor %}
<!--  -->
{% endblock %}
