{% extends 'base.html' %} {% block content %}
<div class="flex flex-col gap-4 flex-1">
  <div class="flex gap-3 items-center">
    <h1 class="text-2xl font-bold">Clientes</h1>
    <div
      class="px-3 w-72 py-1.5 border border-white/10 rounded-lg flex items-center gap-3"
    >
      <form
        class="max-w-md mx-auto"
        onsubmit="event.preventDefault(); const params = new URLSearchParams(window.location.search); params.set('search', document.getElementById('search').value); params.set('page', 1); window.location.href = `?${params.toString()}`;"
      >
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-zinc-900 sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-2 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-zinc-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>

          <input
            type="search"
            id="search"
            style="font-family: 'Inter', sans-serif"
            class="outline-none block w-full p-2 ps-12 text-sm text-zinc-950 rounded-full bg-zinc-300 focus-ring"
            placeholder="Buscar clientes"
            value="{{ search }}"
          />
        </div>
      </form>
    </div>
    <a
      type="button"
      href="/clientes/novo"
      class="text-zinc-50 ml-auto cursor-pointer bg-zinc-950 hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-950/30 font-medium rounded-full text-sm px-4 py-2"
    >
      Novo Cliente
    </a>
  </div>

  <div
    class="relative flex flex-col flex-1 border border-zinc-950/10 rounded-lg"
  >
    {% if total <= 0 %}
    <div class="flex justify-center h-full items-center">
      <p class="text-lg italic font-medium text-zinc-400">
        Não há clientes para serem exibidos {{'com esta pesquisa' if (search !=
        '')}}
      </p>
    </div>
    {% else %}
    <table class="w-full">
      <thead>
        <tr class="border-b border-zinc-950/10">
          <th
            class="py-3 px-4 text-sm font-semibold w-10 text-center translate-y-0.5"
          >
            <input
              type="checkbox"
              class="w-4 h-4 accent-green-600 text-green-600 bg-zinc-100 border-zinc-300 cursor-pointer rounded-sm"
            />
          </th>
          <th class="py-3 px-4 text-sm font-semibold text-left">Nome</th>
          <th class="py-3 px-4 text-sm font-semibold text-left col-span-5">
            Endereço
          </th>
          <th class="py-3 px-4 text-sm font-semibold text-left">CEP</th>
          <th class="py-3 px-4 text-sm font-semibold text-left w-10"></th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr class="border-b border-white/10 hover:bg-white/5">
          <td class="py-3 px-4 text-sm text-zinc-700">
            <input
              type="checkbox"
              class="w-4 h-4 accent-green-600 text-green-600 bg-zinc-100 border-zinc-300 cursor-pointer rounded-sm translate-y-0.5"
            />
          </td>
          <td class="py-3 px-4 text-sm text-zinc-700">{{ cliente.nome }}</td>
          <td class="py-3 px-4 text-sm text-zinc-700">
            {{ cliente.endereco }}, {{ cliente.cidade }} - {{ cliente.uf }}
          </td>
          <td class="py-3 px-4 text-sm text-zinc-700">{{ cliente.cep }}</td>
          <td class="py-3 px-4 text-sm text-zinc-700">
            <div class="flex gap-1.5">
              <a
                href="/clientes/edit/{{cliente.idcliente}}"
                type="button"
                class="bg-zinc-200/50 rounded-md text-zinc-950 p-1.5 hover:bg-zinc-300 transition-colors duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill="currentColor"
                    d="M14.236 1.764a2.62 2.62 0 0 0-3.707 0L2.657 9.636a2.96 2.96 0 0 0-.772 1.354l-.87 3.386a.5.5 0 0 0 .61.608l3.385-.869a2.95 2.95 0 0 0 1.354-.772l7.872-7.872a2.62 2.62 0 0 0 0-3.707m-3 .707a1.621 1.621 0 1 1 2.293 2.293l-.779.779l-2.293-2.293zM9.75 3.957l2.293 2.293l-6.386 6.386a1.95 1.95 0 0 1-.896.51l-2.567.66l.66-2.567a1.94 1.94 0 0 1 .51-.896z"
                  />
                </svg>
              </a>
              <button
                href="?page=1&search={{ search }}"
                type="button"
                class="bg-zinc-200/50 rounded-md text-zinc-950 p-1.5 hover:bg-zinc-300 cursor-pointer transition-colors duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill="currentColor"
                    d="M7 3h2a1 1 0 0 0-2 0M6 3a2 2 0 1 1 4 0h4a.5.5 0 0 1 0 1h-.564l-1.205 8.838A2.5 2.5 0 0 1 9.754 15H6.246a2.5 2.5 0 0 1-2.477-2.162L2.564 4H2a.5.5 0 0 1 0-1zm1 3.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0zM9.5 6a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 .5-.5m-4.74 6.703A1.5 1.5 0 0 0 6.246 14h3.508a1.5 1.5 0 0 0 1.487-1.297L12.427 4H3.573z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot
        class="absolute w-full flex justify-between bottom-0 bg-zinc-50 border-t border-zinc-950/10"
      >
        <tr class="flex w-full justify-between items-center">
          <td
            class="py-3 px-4 text-sm text-zinc-700 col-span-4 max-h-max"
            colspan="3"
          >
            Mostrando
            <span class="font-semibold"
              >{{(total - 10 * (page - 1)) % 10 }}</span
            >
            de <span class="font-semibold">{{ total }}</span> itens
          </td>

          <td
            class="py-3 px-4 text-sm text-zinc-700 col-span-2 text-right"
            colspan="3"
          >
            <div class="inline-flex justify-center gap-8">
              <span class="place-content-center">
                Página <span class="font-semibold"> {{ page }} </span> de
                <span class="font-semibold">{{ max_pages }}</span>
              </span>

              <div class="flex gap-1.5 items-center">
                <a
                  href="?page=1&search={{ search }}"
                  type="button"
                  class="bg-zinc-200/50 rounded-md text-zinc-950 p-1.5
                   {{ 'pointer-events-none !bg-zinc-100/50' if (page == 1) }}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill="currentColor"
                      d="M8.354 12.146a.5.5 0 0 1-.708.708l-4.5-4.5a.5.5 0 0 1 0-.708l4.5-4.5a.5.5 0 1 1 .708.708L4.207 8zm4 0a.5.5 0 0 1-.708.708l-4.5-4.5a.5.5 0 0 1 0-.708l4.5-4.5a.5.5 0 0 1 .708.708L8.207 8z"
                    />
                  </svg>
                </a>
                <a
                  href="?page={{ page - 1 }}&search={{ search }}"
                  type="button"
                  class="bg-zinc-200/50 rounded-md text-zinc-950 p-1.5
                   {{ 'pointer-events-none !bg-zinc-100/50' if (page == 1) }}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill="currentColor"
                      d="M10.354 3.146a.5.5 0 0 1 0 .708L6.207 8l4.147 4.146a.5.5 0 0 1-.708.708l-4.5-4.5a.5.5 0 0 1 0-.708l4.5-4.5a.5.5 0 0 1 .708 0"
                    />
                  </svg>
                </a>
                <a
                  href="?page={{ page + 1 }}&search={{ search }}"
                  type="button"
                  class="bg-zinc-200/50 rounded-md text-zinc-950 p-1.5
                  {{ 'pointer-events-none !bg-zinc-100/50' if (page == max_pages) }}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill="currentColor"
                      d="M5.646 3.146a.5.5 0 0 0 0 .708L9.793 8l-4.147 4.146a.5.5 0 0 0 .708.708l4.5-4.5a.5.5 0 0 0 0-.708l-4.5-4.5a.5.5 0 0 0-.708 0"
                    />
                  </svg>
                </a>
                <a
                  href="?page={{ max_pages }}&search={{ search }}"
                  type="button"
                  class="bg-zinc-200/50 rounded-md text-zinc-950 p-1.5
                  {{ 'pointer-events-none !bg-zinc-100/50' if (page == max_pages) }}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill="currentColor"
                      d="M7.646 3.854a.5.5 0 1 1 .708-.708l4.5 4.5a.5.5 0 0 1 0 .708l-4.5 4.5a.5.5 0 0 1-.708-.708L11.793 8zm-4 0a.5.5 0 1 1 .708-.708l4.5 4.5a.5.5 0 0 1 0 .708l-4.5 4.5a.5.5 0 0 1-.708-.708L7.793 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
    {% endif %}
  </div>
</div>
<script>
  const searchInput = document.getElementById('search')
  const clientTable = document.getElementById('client-table')

  searchInput.addEventListener('input', () => {
    const params = new URLSearchParams(window.location.search)
    params.set('search', searchInput.value)
    params.set('page', 1)
    history.pushState({}, '', `?${params.toString()}`)
  })
</script>
{% endblock %}
